.quantity a {
  margin-right: 1%;
  display: inline-block;
  text-align: center;
  height: 25px;
  margin-left: 1%;
  width: 26px;
  background: #9b979726;
  cursor: pointer;
}
span {
  font-weight: 700;
}
